{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/cactus-bg.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>
                        New Post
                    </h1>
                    <h2 class="subheading">
                        This will be a great post!
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- New Post Form -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'primary'}) }}
        </div>
    </div>
</div>


{% include "footer.html" %}